@import "tailwindcss";

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  color: #363636;
  background: #ebebeb;
}

button {
  cursor: pointer;
}
h2 {
  font-size: 2rem;
}
.question {
  /* margin-top: 1rem; */
  margin-bottom: 1rem;
  text-align: left;
}

.footer {
  display: flex;
  justify-content: end;
}
.btn {
  margin: 1em;
  background-color: #363636;
  padding: 0.5em 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #fff;
}
:disabled {
  cursor: not-allowed;
}

.small-formcontainer {
  box-sizing: border-box;
  justify-items: center;
  margin: 4px;
  border-bottom: 4px solid #363636;
  border-radius: 10px;
  height: 21rem auto;
  width: 35em auto;
}

.about {
  height: 100vh auto;
}

.product-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-card {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin: 1rem;
  transition: all 0.3s ease;
}

.input {
  position: relative;
}

.input-field {
  width: 80%;
  border: none;
  border-bottom: 2px solid #eee;
  outline: none;
  /* padding: 8px 0; */
  background: transparent;
  font-size: 16px;
  transition: all 0.3s ease;
}

.input-label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  pointer-events: none;
  transition: all 0.3s ease;
  color: white;
}

.input-field:focus ~ .input-label,
.input-field:not(:placeholder-shown) ~ .input-label {
  top: -15px;
  transform: translateY(0);
  font-size: 14px;
  color: white;
}

.submit-btn {
  transition: transform 0.3s ease;
}

.submit-btn:active {
  transform: translateX(10px);
}

.submit-btn:hover {
  transform: translateX(5px);
}

@media (max-width: 768px) {
  .about {
    width: 100% auto;
    margin: 2em;
  }
  button {
    font-size: 1rem;
  }
  .heading {
    font-size: 2rem;
    line-height: normal;
  }
  .product-card-container {
    width: 100% auto;
    margin: 3em 0 0 0;
  }
  .product-card-container h3 {
    font-size: 1.5rem;
  }
  .product-card {
    margin: 2em 0 0 0;
    width: 100% auto;
  }
  .product-card img {
    width: 100%;
    height: 100%;
  }
  .grid-section {
    margin: 2em;
  }
  h2 {
    font-size: 1.5rem;
  }
  .grid-section img {
    margin: 0;
    height: 100%;
    width: 100%;
  }
  .absolute-grid {
    margin-top: 2rem;
  }
  p,
  li {
    font-size: 18px;
    padding: 1fr;
    line-height: normal;
    font-weight: lighter;
  }
  .absolute-grid .list {
    justify-items: center;
  }
  .input-label {
    font-size: 12px;
  }
}
